html, body {
    overflow: hidden;
    height: 100%;
    background-color: '#E6040A';
    position: relative;
}

#wave_canvas {
    position: fixed;
    z-index: -1;
}

#main_canvas {
    background-color: clear;
}

#erase_button {
    position: fixed;
    height: 44px;
    .box {
        float: left;
        width: 44px;
        height: 44px;
        margin-left: 8px;
        border-radius: 4px;
        background-color: white;
    }
    .text {
        color: white;
        padding-top: 12px;
        float: left;
        margin-left: 4px;
        font-size: 16px;
        font-weight: bold;
    }
}

#twitter_button {
    position: fixed;
    img {
        width: 50px;
        height: 44px;
    }
}

#twitter_message {
    color: white;
    text-align: center;
    margin-top: 300px;
    p {
        margin-bottom: 4px;
    }
}
